@model MahantInv.Core.SimpleAggregates.Payer

<div id="AddEditPayer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Payer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="PayerErrorSection" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" />
                <div class="form-group">
                    <label asp-for="@Model.Name"></label>
                    <input type="text" asp-for="@Model.Name" class="form-control form-control-sm" placeholder="Name" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PrimaryContact"></label>
                            <input type="tel" asp-for="@Model.PrimaryContact" class="form-control form-control-sm" placeholder="Primary Contact" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.SecondaryContact"></label>
                            <input type="tel" asp-for="@Model.SecondaryContact" class="form-control form-control-sm" placeholder="Secondary Contact" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Line1"></label>
                            <input type="text" asp-for="@Model.Line1" class="form-control form-control-sm" placeholder="Line1" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Line2"></label>
                        <input type="text" asp-for="@Model.Line2" class="form-control form-control-sm" placeholder="Line2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Taluk"></label>
                            <input type="text" asp-for="@Model.Taluk" class="form-control form-control-sm" placeholder="Taluk" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.District"></label>
                            <input type="text" asp-for="@Model.District" class="form-control form-control-sm" placeholder="District" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.State"></label>
                            <input type="text" asp-for="@Model.State" class="form-control form-control-sm" placeholder="State" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Country"></label>
                            <select id="Country" class="form-control form-control-sm" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Common.SavePayer(this)" data-target="AddEditPayer">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>>