@model MahantInv.Core.SimpleAggregates.Order

<div id="ReceivedOrCancelledOrder" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ActionOrderErrorSection" class="text-danger"></div>
                <input type="hidden" id="ActionOrderId" />
                <input type="hidden" id="ActionProductId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.ProductId"></label>
                            <label id="ActionProductName" asp-for="@Model.ProductId" class="form-control form-control-sm"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.Quantity"></label>
                            <input id='ActionQuantity' type="number" asp-for="@Model.Quantity" class="form-control form-control-sm" placeholder="Quantity" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PaymentTypeId"></label>
                            <select id="ActionPaymentTypeId" class="form-control form-control-sm actionselect2" style="width:100%" placeholder="Payment Type">
                                <option value="">Select Payment Type</option>
                                @foreach (var item in (ViewBag.PaymentTypes as ICollection<MahantInv.Core.SimpleAggregates.PaymentType>))
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PayerId"></label>
                            <select id="ActionPayerId" class="form-control form-control-sm actionselect2" mu style="width:100%" placeholder="Payer">
                                <option value="">Select Payer</option>
                                @foreach (var item in (ViewBag.Payers as ICollection<MahantInv.Core.SimpleAggregates.Payer>))
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.PaidAmount"></label>
                            <input id='ActionPaidAmount' type="number" asp-for="@Model.PaidAmount" class="form-control form-control-sm" placeholder="Paid Amount" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.OrderDate"></label>
                            <input id='ActionOrderDate' type="date" asp-for="@Model.OrderDate" class="form-control form-control-sm" placeholder="Order Date" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.ReceivedQuantity"></label>
                            <input id='ActionReceivedQuantity' type="number" asp-for="@Model.ReceivedQuantity" class="form-control form-control-sm" placeholder="Received Quantity" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.ReceivedDate"></label>
                            <input id='ActionReceivedDate' type="date" asp-for="@Model.ReceivedDate" class="form-control form-control-sm" placeholder="Received Date" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Remark"></label>
                    <textarea id='ActionRemark' asp-for="@Model.Remark" rows="2" class="form-control form-control-sm" placeholder="Remark"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-danger form-control col-md-5" onclick="Common.CancelOrder(this)" data-target="ReceivedOrCancelledOrder">Cancel Order</button>
                    <button type="button" class="btn btn-success form-control col-md-5" onclick="Common.ReceiveOrder(this)" data-target="ReceivedOrCancelledOrder">Receive Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
